/* ========== import ========= */


/* ====== reset général ====== */
/* =========================== */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    margin-bottom: 30px;
}

/* ========== navbar ========== */
/* ============================ */
nav {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    background-color:  rgb(235, 235, 235);
    height: 75px;
    width: 92%;
    margin: 0 4%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    display: none;
    /* height: 50px;
    width: 50px; */
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 1.1em;
}

/* ========= bandeau ======== */
/* ========================== */
section#bandeau {
    display: flex;
    flex-direction: column;
    background: rgb(235, 235, 235);
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235));

}

div#apropos {
    margin: 15px;
}

div#photos {
    width: 350px;
    height: auto;
    margin: 10px auto;
}


#photo1 {
    position: relative;
    left: 5px ;
    top: 50px;
    width: 70%;
    max-width: 350px;
}

#photo2 {
    position: relative;
    left: 230px;
    bottom: 180px;
    width: 38%;
    max-width: 200px;
}

#photo3 {
    position: relative;
    bottom: 10px;
    left: 5px;
    width: 55%;
    max-width: 200px;
}


/* ======== réalisation ======= */
/* ============================ */
#realisations > h2 {
    display: inline;
    position: relative;
    left: 20px;
}

#realisations-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#realisations-img > a {
    width: 80%;
    display: inline-block;
    margin-top: 40px;
}


#realisations img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 15px rgb(157, 157, 157);
}


/* ======== compétences ======= */
/* ============================ */
#competences {
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    height: 60vh;
    background: rgb(235, 235, 235);
    background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(medias/puzzle.webp) center center no-repeat;
}

#competences ul {
    margin-top: 40px;
}

#competences h2 {
    background: linear-gradient(rgb(170, 169, 169),rgb(255, 255, 255));
    border-radius: 10px;
    width: 150px;
    text-align: center;
    position: relative;
    margin-top: 50px;

}







@media screen and (min-width: 699px) {
    /* ========== navbar ========== */
    /* ============================ */
nav {
    position: inherit;
    background-color: rgb(255, 255, 255);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: initial;
    height: 70px;
    width: 70px;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
}

nav > ul > li {
    list-style-type: none;
    text-align: center;
    margin-left: 35px;
}

nav a > svg {
    display: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

/* ========= bandeau ======== */
/* ========================== */
section#bandeau {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgb(235, 235, 235);
    background: linear-gradient(rgb(255, 255, 255), rgb(235, 235, 235) );
    background: url(medias/tori.webp) center center no-repeat;
}

div#apropos {
    margin: 40px 5px;
    padding: 20px;
    flex: 1;
}

div#photos {
    position: relative;
    flex: 1;
    margin: initial;
    height: 50vh;
    width: 650px;
}

#photo1 {
    position: relative;
    width: 45%;
    left: 0px;
    bottom: initial;
    top: 30px;
    max-width: 450px;
    min-width: 200px;

}

#photo2 {
    position: relative;
    width: 25%;
    left: initial;
    right: 20px;
    top: initial;
    bottom: 10px;
    max-width: 200px;
    min-width: 120px;

}

#photo3 {
    position: relative;
    width: 30%;
    left: 100px;
    bottom: initial;
    top: 0px;
    max-width: 250px;
    min-width: 120px;

}

/* ======== réalisation ======= */
/* ============================ */

#realisations-img {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#realisations-img > a {
    text-align: center;
    width: 80%;
    display: inline-block;
    margin-top: 40px;
}


#realisations img {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgb(186, 184, 184);
}

/* ======== compétences ======= */
/* ============================ */
#competences {
    height: 90vh;
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(medias/puzzle.webp) center center no-repeat;
    background-size: cover;
}

}
