/* ========== import ========= */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



/* ========= général ========= */
/* =========================== */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #ffffff;
}

section {
    margin-bottom: 70px;
}

h1 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  
h2 {
    color: #474544;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}
  

/* ========== navbar ========== */
/* ============================ */
nav {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    background-color:  #ebebeb;
    height: 75px;
    width: 92%;
    margin: 0 4%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    display: none;
    /* height: 50px;
    width: 50px; */
}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 1.1em;
}

/* ========= bandeau ======== */
/* ========================== */
section#bandeau {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background: linear-gradient(#ffffff, #ebebeb);
    background: url(medias/photo.webp) no-repeat;
    background-size: cover;
}

#bandeau h1 {
    color: #ffffff;
}

#bandeau h1 span{
    color: #ecec38;
}

div#apropos {
    margin: 15px;
    color: white;
}

/* ----- reseaux sociaux ----- */
#bandeau div.reseaux-sociaux {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#bandeau div.reseaux-sociaux svg {
    margin-right: 15px;

}




/* ======== réalisation ======= */
/* ============================ */
#realisations > h2 {
    display: inline;
    position: relative;
    left: 20px;
}

#realisations-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#realisations-img > a {
    width: 80%;
    display: inline-block;
    margin-top: 40px;
}


#realisations img {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 8px 8px 15px #9d9d9d;
}


/* ======== compétences ======= */
/* ============================ */
#competences {
    background: #ebebeb;
    background: linear-gradient(#ffffffb3, #ffffffb3), url(medias/puzzle.webp) center center no-repeat;
}

#competences div {
    display: flex;
    flex-direction: column;
}

#competences h2 {
    position: relative;
    background: linear-gradient(#b8b8b8 ,#ffffff);
    border-radius: 10px;
    letter-spacing: 4px;
    margin: 60px auto 20px auto;
    width: 300px;
}

#competences ul {
    list-style-type: none;
}


#competences li {
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}


#competences label {
    margin: 5px auto 0 30px;
}

#competences progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
}

#competences progress {
    width: 90%;
    height: 8px;
    margin: 0 auto 5px auto;
}

#competences progress[value] {
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #b5b5b5;
    border-radius: 5px;
  }

#competences progress[value]::-webkit-progress-value {
    background-image:
	   -webkit-linear-gradient(left, #ebebeb,#46c6f1 ,#2489aa);
    border-radius: 5px;
}



/* =========== Forms ========== */
/* ============================ */

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
    background: #e2e2e2;
  border: solid 2px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
    float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.9em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.9em;
  }
}


@media screen and (min-width: 699px) {
    /* ========== navbar ========== */
    /* ============================ */
nav {
    position: inherit;
    background-color: rgb(255, 255, 255);
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    display: initial;
    height: 70px;
    width: 70px;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
}

nav > ul > li {
    list-style-type: none;
    text-align: center;
    margin-left: 35px;
}

nav a > svg {
    display: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

/* ========= bandeau ======== */
/* ========================== */
section#bandeau {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

div#apropos {
    margin: 40px 5px;
    padding: 20px;
    flex: 1;
}


/* ======== réalisation ======= */
/* ============================ */
#realisations {
    margin-bottom: 80px;
}

#realisations h2 {
    position: relative;
    top: 45px;
}

#realisations-img {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#realisations-img > a {
    text-align: center;
    width: 80%;
    display: inline-block;
    margin-top: 40px;
}


#realisations img {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 9px rgb(186, 184, 184);
}

/* ======== compétences ======= */
/* ============================ */
#competences {
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(medias/puzzle.webp) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
}
