/* ========== import ========= */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


/* ========= général ========= */
/* =========================== */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --main-color: #f7f5f5;
  --h2-color: #474544;
  --strong-color: #b8ae2b;
  --shadow-box1: 0 4px 15px #00000051;
  --legradient: linear-gradient(135deg, #21abe6df, #f0e7619d,#f7dcdcb7);
}
body {
  background: var(--main-color);
}
section {
  margin-bottom: 60px;
}
h2 {
    color: var(--h2-color);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}
  

/* ========== navbar ========== */
/* ============================ */
nav {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    background-color:  #e1e1e1;
    height: 75px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 4px 15px #57575751;
}
nav > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav > ul > li {
    list-style-type: none;
    text-transform: uppercase;
}
nav > ul > li > a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    color: black;
    font-size: 0.85em;
}
.logos {
  margin-bottom: 10px;
}

/* ========= bandeau ======== */
/* ========================== */
section#bandeau {
    height: 60vh;
    background: var(--legradient), url(medias/MatVD.webp ) no-repeat;
    background-size: cover;
    box-shadow: var(--shadow-box1);
}
#bandeau h1 {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 900;
    color: #000000;
    padding-top: 25px;
}
div#apropos {
    margin-bottom: 25px;
    margin-left: 25px;
    color: white;
}
div#apropos > p {
  margin-top: 10px;
  font-size: 1.1em;
  letter-spacing: 2px;
}

/* ----- reseaux sociaux ----- */
#bandeau div.reseaux-sociaux {
    position: relative;
    z-index: 11;
    margin-top: 10px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#bandeau div.reseaux-sociaux svg {
    margin: 10px 25px;
}


/* ---------- canvas ---------- */
#canvas1 {
  display: initial;
  background-color: transparent;
  position: absolute;
  top: 0px;
  right: 0;
}


/* ======== réalisation ======= */
/* ============================ */
#realisations > h2 {
    display: inline;
    position: relative;
    left: 15px;
}
#realisations h2 strong {
    color: var(--strong-color);
}
#realisations-img {
    display: flex;
    flex-direction: column;
}
#realisations-img > a {
    display: inline-block;
    width: 80%;
    margin: 30px auto;
}
#realisations img {
    width: 100%;
    margin: auto;
    border-radius: 6px;
    box-shadow: var(--shadow-box1);
}


/* ======== compétences ======= */
/* ============================ */
#competences {
    background: #ebebeb;
    box-shadow: var(--shadow-box1);
    padding-bottom: 60px;
}
#competences div {
    display: flex;
    flex-direction: column;
}
#competences h2 {
    position: relative;
    letter-spacing: 4px;
    margin: 40px auto 10px auto;
    padding: 7px;
    width: 300px;
}
#competences h2 strong{
  color: var(--strong-color);
}
#competences ul {
    list-style-type: none;
}
#competences li {
    font-style: italic;
    line-height: 1.8rem;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}
#competences label {
    margin: 5px auto 0 10%;
}
#competences progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
     appearance: none;
}
#competences progress {
    width: 80%;
    height: 6px;
    margin: 0 auto 5px auto;
}
#competences progress[value] {
    -webkit-appearance: none;
    appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 5px;
  }
#competences progress[value]::-webkit-progress-value {
    background-image:
     -webkit-linear-gradient(left, #ded778, #b8af2bdb);
    border-radius: 5px;
}



/* =========== Forms ========== */
/* ============================ */
button {
  overflow: visible;
}
button, select {
  text-transform: none;
}
button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
#container {
  background: #e2e2e2;
  box-shadow: var(--shadow-box1);
  background: linear-gradient(135deg, #21abe663, #f0e6614d,#f7dcdc52);
  border-radius: 5px;
  border: solid 2px var(--strong-color);
  width: 90%;
  margin: 20px auto;
  position: relative;
}
#container h2 {
  margin-top: 15px;
}
form {
  padding: 20px;
}
.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}
.icon_wrapper {
  margin: 15px auto;
  width: 100%;
}
.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}
.email {
  float: right;
	width: 45%;
}
input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 1px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 1em 0 1em 0;
	padding: 0 0 0.875em 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.9em 0;
}
.message {
	float: none;
}
.name {
	float: left;
	width: 45%;
}
select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
.subject {
  width: 100%;
}
.telephone {
  width: 100%;
}
textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}
::-webkit-input-placeholder {
	color: #474544;
}
:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}
::-moz-placeholder {
	color: #474544;
	opacity: 1;
}
:-ms-input-placeholder {
	color: #474544;
}
#form_button {
  background: none;
  border-radius: 5px;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 15px 30px;
  margin: 20px auto;
  width: 90%;
  max-width: 400px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}



/* =========== footer ========== */
/* ============================= */
footer {
  padding: 30px 0 90px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background: #EBEBEB;
  box-shadow: var(--shadow-box1);
}
div#copyright {
  margin-left: 20px;
  margin-top: 5px;
}
div.reseaux-sociaux a {
  margin-right: 20px;
  text-decoration: none;
}



/* ========= media querry ========== */
/* ================================= */

@media screen and (min-width: 650px) {
  /* ======= réalisations ======= */
  /* ============================ */
#realisations-img {
  flex-direction: row;
  flex-wrap: wrap;
}
#realisations-img > a {
  flex: 1;
  display: flex;
}
#realisations-img img {
  width: 307px;
}

/* ======== compétences ======= */
/* ============================ */
#competences {
  display: flex;
  justify-content: space-around;
}
#competences progress {
width: 90%;
}

}


@media screen and (min-width: 920px) {
    /* ========== navbar ========== */
    /* ============================ */
nav {
    position: inherit;
    box-shadow: initial;
    background-color: var(--main-color);
    height: 75px;
}
nav > ul {
    justify-content: flex-end;
}
nav > ul > li {
    margin-right: 95px;
}
nav a > svg.logos {
    display: none;
}
nav > ul > li > a {
    font-size: 1.2em;
}


/* ========= bandeau ======== */
/* ========================== */
section#bandeau {
  height: 75vh;
  background-position: 30% 35%;
}
  
/* ---------- canvas ---------- */
#canvas1 {
  display: initial;
  background-color: transparent;
  position: absolute;
  top: 75px;
  right: 0;
}

/* ======== réalisation ======= */
/* ============================ */
#realisations-img {
    justify-content: space-around;
}
#realisations-img > a {
    text-align: center;
    margin: 40px 20px;
}


/* ========== contact ========= */
/* ============================ */
section#contact {
  padding: 30px 0;
}
#container {
  max-width: 768px;
}
}
